extends layout 

block content
    h1 UserID 
    p #{username}
    p #{usermessage}
    p #{lastCharacter}
    p #{Kinetic}
    img#kineticicon(src='')
    p #{Energy}
    img#energyicon(src='')
    p #{Power}
    img#powericon(src="")
    script.
     document.getElementById("kineticicon").src = '#{KineticImage}';
     document.getElementById("energyicon").src = '#{EnergyImage}';
     document.getElementById("powericon").src = '#{PowerImage}';