extends layout 

block content
    h1 UserID 
    p #{username}
    p #{usermessage}
    p #{lastCharacter}
    p #{KineticUser}
    img#kineticicon(src='')
    p #{EnergyUser}
    img#energyicon(src='')
    p #{PowerUser}
    img#powericon(src="")
    script.
     document.getElementById("kineticicon").src = '#{KineticImageUser}';
     document.getElementById("energyicon").src = '#{EnergyImageUser}';
     document.getElementById("powericon").src = '#{PowerImageUser}';