extends layout 

block content
  .sidenav
    h1
      | TRIALS    
      br
      | LOOKUP 
      form(action='/userSearch', method='POST')
        input(type='text', name='playername', placeholder='ENTER NAME', required='')
        button(type='submit' onsubmit='/userSearch') Search
  .content
    #contentbox1
        table#results
            tbody 
                tr
                    td#one
                        p#one #{username}
                    td#two 
                        p#two #{firstName}
                    td#three 
                        p#three  #{secondName}
                tr
                    td#one
                        p#one #{usermessage}
                    td#two 
                        p#two #{firstMessage}
                    td#three 
                        p#three #{secondMessage}
                tr
                    td#one
                        p#one #{lastCharacter}
                    td#two 
                        p#two #{firstCharacter}
                    td#three
                        p#three #{secondCharacter}
                tr
                    td#one
                        p#one #{KineticUser} 
                        img#kineticUser(src='')
                    td#two 
                        p#two #{KineticFirst} 
                        img#kineticFirst(src='')
                    td#three 
                        p#three #{KinecticSecond} 
                        img#kineticSecond(src='')
                tr
                    td#one
                        p#one #{EnergyUser} 
                        img#energyUser(src='')
                    td#two 
                        p#two #{EnergyFirst} 
                        img#energyFirst(src='')
                    td#three 
                        p#three #{EnergySecond} 
                        img#energySecond(src='')
                tr
                    td#one
                        p#one #{PowerUser} 
                        img#powerUser(src='')
                    td#two 
                        p#two #{PowerFirst} 
                        img#powerFirst(src='')
                    td#three 
                        p#three #{PowerSecond} 
                        img#powerSecond(src='')
    script.
     document.getElementById("kineticUser").src = '#{KineticImageUser}';
     document.getElementById("energyUser").src = '#{EnergyImageUser}';
     document.getElementById("powerUser").src = '#{PowerImageUser}';
     document.getElementById("kineticFirst").src = '#{KineticImageFirst}';
     document.getElementById("energyFirst").src = '#{EnergyImageFirst}';
     document.getElementById("powerFirst").src = '#{PowerImageFirst}';
     document.getElementById("kineticSecond").src = '#{KineticImageSecond}';
     document.getElementById("energySecond").src = '#{EnergyImageSecond}';
     document.getElementById("powerSecond").src = '#{PowerImageSecond}';